	*
  	{
  		margin: 0px;
  		padding: 0px;
/*  		border: solid black;*/
  	}
  	.navbar
  	{
  		position: fixed;
  		width: 100%;
  		z-index: 1;
  		background: rgba(3, 21, 4, 1);

  	}
  	.navbar img 
  	{
  		width: 100%;
  	}
  	nav ul li a
  	{
  		position: relative;
  	}
  	nav ul li a:hover
  	{
  		color: green;
  		font-weight: 600;
  	}
   nav ul li a::after
   {
   	content: "";
   	position: absolute;
   	bottom: 0px;
   	left: 0px;
   	width: 100%;
   	height: 1px;
   	background-color: green;
   	visibility: hidden;
   	transition:0.5s;
   }
   nav ul li a:hover::after
   {
   	visibility: visible;
   }
  	 
  	#banner
  	{
  		background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/img2.png);
/*  		background-image: url(images/img2.png);*/
  		background-repeat: no-repeat;
  		background-size: 100% 95%;
  		width: 100%;
  		height: 100%;
  		color: white;
  		background-color: rgba(3, 21, 4, 1)	;
  	}
  	.banner1
  	{
  		text-align: center;
  		padding: 100px 0px 50px 0px;
  	}
  	.banner1 h1 
  	{
  		line-height: 70px;
  	}
  	.banner1 p 
  	{
  		line-height: 30px;
  	}
  	.banner2
  	{
  		display: grid;
  		grid-template-columns: auto auto auto auto auto;
  		text-align: center;	 
  	}
  	.banner2-1 img ,.banner2-3 img,.banner2-4 img,.banner2-5 img
  	{
  		width: 100%;
  		visibility: hidden;
  	}
  	.banner2-2 img
  	{
  		width: 100%;
  	}
  	 
  	  
  	 .banner2 #icon1,#icon3,#icon4,#icon5
  	 {
  	 	padding: 0px 10px;
  	 	font-size: 20px;
  	 	transition: all 1s;
  	 }
  	 .banner2 #icon2
  	 {
  	 	padding: 0px 10px;
  	 	font-size: 20px;
  	 	transition: all 1s;
  	 	transform: rotate(-45deg);
  	 } 
  	 
  	.banner2 p
  	{
  		position: absolute;
  		bottom: 0px;
  		padding-left:30px;
  		padding-right: 5px;
  	}
  	.banner2 p:hover
  	{
  		cursor:pointer;
  	}
  	 
  	 #banner3
  	 {
  		background-color: rgba(3, 21, 4, 1)	;
  		padding: 100px 0px;
  		text-align: center;
  		position: relative;
  	 }
  	 #banner3::before
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 100px;
  	 	right: 0px;
  	 	background-image: url(../images/img5.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 20%;
  	 	height:20%;
  	 }
  	 #banner3::after
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	bottom: 70px;
  	 	left: 0px;
  	 	background-image: url(../images/img6.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 20%;
  	 	height: 20%;
  	 }
  	 .banner3 h2
  	 {
  	 	text-align: center;
  	 	color: white;
  	 	padding-bottom: 50px;
  	 	font-size: 50px;
  	 }
  	 .banner3 img 
  	 {
  	 	width: 100%;
  	 }
  	 .banner3  .btn
  	 {
  	 	border-radius: 25px;
  	 	box-shadow: 0px 4px 26px 0px rgba(140, 198, 63, 0.64);
  	 	background-color: #8CC63FA3;
  	 	margin: 30px 0px;
  	 }
  	  
  	 .card1
  	 {
  	 	width: 27%;
  	 	padding: 20px;
  	 	text-align: justify;
  	 	background: rgba(16, 43, 26, 0.9);
  	 	color: white;
  	 	position: absolute;
  	 	top: 100px;
  	 	left: 0px;
  	 	box-shadow: 5px 5px 50px  rgba(16, 43, 26, 0.9);
  	 	margin-bottom: 20px;

  	 }
  	 .card1 h4
  	 {
  	 	padding-bottom: 20px  ;
  	 }

  	 .card1 .btn1
  	 {
  	 	background-color: transparent;
  	 	color:rgba(140, 198, 63, 1) ;
  	 	border: none;
  	 	margin-top: 20px;
  	 }
  	 .card1 #para 
  	 {
  	 	display: none;
  	 }


  	 #banner4
  	 {
		background-color: rgba(3, 21, 4, 1);
		color: white;
		text-align: center;
		padding-bottom: 50px;
  	 }
  	 .banner4
  	 {
  	 	width: 50%;
  	 	margin: auto;
  	 }
  	 .banner4 h2
  	 {
  	 	font-size: 50px;

  	 }
  	 .banner4 i 
  	 {
  	 	font-family: Courier New;
  	 }
  	 .banner4 h4 
  	 {
  	 	padding: 50px 0px 20px 0px;
  	 }
  	 .banner4-1 .btn ,.banner4-2 .btn
  	 {
  	 	margin: 10px 20px;
  	 	background-color: transparent;
   	 	color:rgba(140, 198, 63, 1) ;
   	 	border:2px solid #78AA36;
   	 	border-radius: 25px;
   	 	padding: 10px 30px;

  	 }
  	 .banner4-1 
  	 {
  	 	text-align: left;
  	 }
  	 .banner4-2
  	 {
  	 	text-align: right;
  	 }
  	   
  	  .banner5-1 h4 
  	 {
 		padding-top: 60%;
 		font-size: 40px;
  	 }
  	 .banner5-1 h4 i 
  	 {
  	 	font-family: Courier New;
  	 }
  	 .banner5-1 img
  	 {
  	 	width: 100%;
/*  	 	border: solid;*/
  	 }
  	 .banner5-2 
  	 {
  	 	width: 50%;
  	 	margin: auto;
  	 	margin-top: -200px;
  	 }
  	 .banner5-2 h2 
  	 {
  	 	font-size: 50px;
  	 }
  	 .banner5-2 i 
  	 {
  	 	font-family: Courier New;

  	 }
  	 #banner6,#banner8,#banner5
  	 {
  	 	display: none;
  	 }
  	 #banner9
  	 {
  	 	background-image: url(../images/img9.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	padding: 150px 0px;
  	 	box-shadow: inset 0px 0px 50px 50px  rgba(0, 0, 0, 0.6);
  	 }
  	  .card2
  	 {
  	 	padding: 20px;
  	 	text-align: justify;
  	 	background: rgba(16, 43, 26, 0.9);
  	 	color: white;
  	 	box-shadow: 5px 5px 10px  rgba(16, 43, 26, 0.9);

  	 }
  	 .card2 h4
  	 {
  	 	padding-bottom: 20px  ;
  	 }

  	 .card2 .btn2
  	 {
  	 	background-color: transparent;
  	 	color:rgba(140, 198, 63, 1) ;
  	 	border: none;
  	 	margin-top: 20px;
  	 }
  	 .banner10-1
  	 {
  	 	width: 100%;
  	 	height: 100%;
  	 	border: solid;
  	 	box-shadow: 10px 10px 10px  background: rgba(16, 43, 26, 0.9);
  	 	background-color: #8CC63FA3;
  	 	padding: 10px;
  	 }
  	  .banner10-1 img 
  	  {
  	  	width: 100%;
  	  	height: 100%;
  	  }
  	  .banner10-1 h4 
  	  {
  	  	margin-top: -100px;
  	  	padding: 20px;
  	  	color: white;
  	  }

  	  #banner11
  	  {
  	  	background-color: rgba(3, 21, 4, 1);
  	   	color: white;
  	   	padding: 50px 0px;
  	   	position: relative;
  	  }
  	  #banner11::before
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 50px;
  	 	right: 0px;
  	 	background-image: url(../images/img21.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 20%;
  	 	height:20%;
  	 }
  	  .banner11-1
  	  {
  	  	text-align: center;
  	  	margin: auto;
  	  	width: 30%;
  	  }
  	   .banner11-1 h2 
  	  {
  	  	font-size: 50px;
  	  }
  	   .banner11-1 i 
  	  {
  	 	font-family: Courier New;
  	  }
  	  .banner11-2
  	  {
  	  	position: relative;
  	  	width: 100%;
  	  }
  	 
  	  .banner11-2 img 
  	  {
  	  	width: 100%;
  	  }

  	  .card3
  	 {
  	 	padding: 35px;
  	 	text-align: justify;
  	 	background: rgba(16, 43, 26, 0.9);
  	 	color: white;
  	 	box-shadow: 5px 5px 10px  rgba(16, 43, 26, 0.9);
	  	position: absolute;
	  	bottom: 40px;
	  	right: 100px;
  	 	width: 20%;
  	 	border: solid white;

  	 }
  	 .card3 h4
  	 {
  	 	padding-bottom: 20px  ;
  	 }
  	 .banner11-3
  	 {
  	 	text-align: center;
  	 }
  	 .banner11-3  .btn
  	 {
  	 	border-radius: 25px;
  	 	box-shadow: 0px 4px 26px 0px rgba(140, 198, 63, 0.64);
  	 	background-color: #8CC63FA3;
  	 	margin:  auto;
  	 }


  	 #banner12
  	 {
  	  	background-color: rgba(3, 21, 4, 1);
  	 	color: white;
  	 	text-align: center;
  	 	background-image: url(../images/img22.png);
  	 	background-repeat: no-repeat;
  	 	background-size: 100% 100%;
  	 	padding: 0px 0px 30px 0px;
  	 	box-shadow: inset 0px 0px 100px 150px rgba(3, 21, 4, 1) ;
  	 	position: relative;

  	 }
  	 #banner12::before
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 100px;
  	 	right: 0px;
  	 	background-image: url(../images/img28.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 10%;
  	 	height:20%;
  	 }
  	 #banner12::after
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	bottom: 30px;
  	 	left: 0px;
  	 	background-image: url(../images/img29.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 10%;
  	 	height: 20%;
  	 }
  	 
  	 #banner12 h2
  	 {
  	 	font-size: 50px;
  	 	padding-top: 100px;
  	 }
  	  #banner12 h2 i 
  	  {
  	 	font-family: Courier New;
  	  }
  	  .banner12-1
  	  {
  	  	margin-top: 200px;
  	  }
  	  
  	 
  	 .banner12-5
  	 {
  	 	margin: auto;
  	 }
  	 .banner12-5  .btn
  	 {
  	 	border-radius: 25px;
  	 	box-shadow: 0px 4px 26px 0px rgba(140, 198, 63, 0.64);
  	 	background-color: #8CC63FA3;
  	 	margin:  20px auto;
  	 }


  	   
  	  #banner13
  	 {
  	  	background-color: rgba(3, 21, 4, 1);
  	 	color: white;
  	 	text-align: center;
  	 	padding: 0px 0px 50px 0px;
  	 	box-shadow: inset 0px 0px 100px 150px rgba(3, 21, 4, 1) ;
  	 	position: relative;

  	 }
  	 #banner13::before
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 0%;
  	 	right: 0px;
  	 	background-image: url(../images/img5.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 10%;
  	 	height:30%;
  	 }
  	 .banner13-1
  	 {
  	 	width: 50%;
  	 	margin: auto;
  	 	padding: 50px 0px;
  	 }
  	  
  	 #banner13 h2
  	 {
  	 	font-size: 50px;
  	 }

  	  #banner13 h2 i 
  	  {
  	 	font-family: Courier New;
  	  }
  	   


  	 #banner14
  	 {
  	 	padding: 50px 0px;
  	  	background-color: rgba(3, 21, 4, 1);
  	 	color: white;


  	 }
  	 .banner14-1
  	 {
  	 	text-align: center;	
  	 	padding: 100px 0px ;
  	 	width: 100%;
  	 	margin: auto;
  	 	background-color: #0F2B19;
  	 	position: relative;
  	 }

  	  .banner14-1::before
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 0%;
  	 	left: 0%;
  	 	background-image: url(../images/img33.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 10%;
  	 	height:30%;
  	 }
  	  .banner14-1::after
  	 {
  	 	content: "";
  	 	position: absolute;
  	 	top: 0%;
  	 	right: 0%;
  	 	background-image: url(../images/img34.png);
  	 	background-size: 100% 100%;
  	 	background-repeat: no-repeat;
  	 	width: 10%;
  	 	height:30%;
  	 }
  	 
  	  
  	 #banner14 h2
  	 {
  	 	font-size: 50px;
  	 }
  	 #banner14 p
  	 {
  	 	width: 50%;
  	 	margin: auto;
  	 }

  	  #banner14 h2 i 
  	  {
  	 	font-family: Courier New;
  	  }
  	   .banner14-1  .btn
  	 {
  	 	border-radius: 25px;
  	 	box-shadow: 0px 4px 26px 0px rgba(140, 198, 63, 0.64);
  	 	background-color: #8CC63FA3;
  	 	margin:  20px auto;
  	 }
  	 .banner14-1 img 
  	 {
  	 	width: 20%;
  	 	position: absolute;
  	 	left: 10%;
  	 	bottom: 0px;
  	 }




  	 footer
  	 {
  	 	text-align: center;
  	 	padding: 50px 0px;
  	  	background-color: rgba(3, 21, 4, 1);
  	 	color: white;
  	 }
  	 .banner15-1 img 
  	 {
  	 	width: 20%;
  	 }
  	 .banner15-1 p 
  	 {
  	 	padding: 30px 0px;
  	 	width: 50%;
  	 	margin: auto;
  	 }
  	 .banner15-1 span i 
  	 {
  	 	font-size: 40px;
  	 	padding: 10px 10px;
   	background-color: white;
   	color: black;
   	border-radius: 50%;
   	margin: 5px;
  	 }
  	 .banner15-1 span i:hover
  	 {
   	background-color: green;
  	 }
  	 .banner15-1 a 
  	 {
  	 	padding: 0px 10px;
  	 	color: white;
  	 }
  	 .banner15-1 a i 
  	 {
  	 	padding: 0px 10px;
  	 }



















  	  @media screen and (max-width:768px)
   {

  	  	.banner1 h1 
  		{
  			line-height: 40px;
  			line-height: 55px;
  		}

	  	 
  	 	 .banner2 #icon2 , .banner2 #icon-2
  	 	 {
  	 	 	font-size: 7px;
  	 	 }
  	 	 .banner2 p
	  	{
	  		padding-left:0px;
	  		padding-right: 5px;
	  		font-size: 7px;
	  	}
	  	 .banner3 h2
  	 	{
  	 	font-size: 30px;
  	 	}
	  	 .banner4
  	 	{
  	 		width: 100%;
  	 		margin-bottom: 0px;
  	 	}
  		 .banner4 h2
  	 	{
  	 		font-size: 30px;
  	 	}
  	 	.banner4 h4 
  	 	{
  	 		font-size: 20px;
  	 	}
  		  
  	    .banner5-1 h4 
  		 {
 			padding: 10px 0px;
 			font-size: 20px;
  		 }
  	  
  	 	.banner5-2 
  		 {
  	 		width: 100%;
  	 		margin: auto;
  		 }
  	 	.banner5-2 h2 
  	 	{
  	 		font-size: 30px;
  	 	}
  		
  	 	.card1
  	 	{
  	 		position:relative;
  	 		width: 100%;
  	 		left: 0px;
  	 		text-align: left;
  	 	}
  	 	.banner11-1
  	 	{
  	 		width: 100%;
  	 	}
  	 	 .banner11-1 h2 
  	  {
  	  	font-size: 30px;
  	  }
  	   .card3
  	   {
	  	position: relative;
	  	bottom: 0px;
	  	left: 0px;
  	 	width: 80%;
  	 	padding: 10px;
  	 	margin: 20px auto;
  	   }
  	   .card3 h4 
  	   {
  	   	font-size: 18px;
  	   	line-height: 25px;
  	   }
  	   #banner12
  	   {
  	   	padding-bottom: 10px;
  	 	box-shadow: inset 0px 0px 30px 30px rgba(3, 21, 4, 1) ;

  	   }
  	    
  	   #banner12 h2 
  	   {  
  	   	font-size:30px;
  	   	padding-top: 20px;
  	   }
  	   .banner12-1 
  	   {
  	   	margin-top: 100px;
  	   }
  	   .banner12-2 .btn1
  	   {
  	 	font-size: 20px;
  	 	left: 10%;
  	   }
  	    .banner12-4 .btn2
  	   {
  	 	font-size: 20px;
  	 	right: 10%;
  	   }
  	   #banner13 h2 
  	   {  
  	   	font-size:30px;
  	   }
  	   .banner13-1
  	   {  
  	   	width:100%;
  	   }
  	   #banner14 h2 
  	   {  
  	   	font-size:30px;
  	   }
  	   #banner14 p 
  	   {  
  	   	width:100%;
  	   }
  	  
  	  }


 @media screen and (min-width:769px) and (max-width:1000px)
 {
 	.banner2 p
	  	{
	  		font-size: 10px;
	  	}
	   
	  	.banner2 #icon2 , .banner2 #icon-2
  	 	 {
  	 	 	font-size: 10px;
  	 	 }
  	 	 .banner4-2
  	 	 {
  	 	 	text-align: left;
  	 	 }
  	 	 
 	.banner11-1
  	 {
  	 	width: 50%;
  	}
 	 .card3
  	 {
  	 	padding: 10px;
	  	bottom: 20px;
	  	right: 50px;
  	 	width: 25%;
  	 }
  	 #banner12
  	   {
  	   	padding-bottom: 15px;
  	 	box-shadow: inset 0px 0px 60px 60px rgba(3, 21, 4, 1) ;

  	   }
  	 .banner12-2 .btn1
  	  {
  	 	font-size: 30px;
  	 	left: 10%;
  	  }
  	   .banner12-4 .btn2
  	  {
  	 	font-size: 30px;
  	 	right: 10%;
  	  }
 }





  	  










